<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head('Despesas')}"></head>
    <body>
        <div th:replace="~{base :: header}"></div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                        <th scope="col">Mês Corrente</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody th:each="expense : ${expenses}">
                    <tr>
                        <th scope="row" th:text="${expense.id}"></th>
                        <td th:text="${expense.title}">AAA</td>
                        <td th:text="${expense.amount}">AAA</td>
                        <td th:text="${expense.date}">AAA</td>
                        <td th:text="${expense.currentMonth}">AAA</td>
                        <td th:text="${expense.description}">AAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>