<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head('Extrato')}"></head>
    <body>
        <div th:replace="~{base :: header}"></div>
        <div class="container">
            <div th:replace="~{base :: titulo('Extrato')}"></div>
            <div class="mb-3" style="float: right; width: 210px">
                <form th:action="@{/filter}" method="post" th:object="${currentMonthDto}">
                    <div class="row">
                        <div class="col-8">
                            <select th:field="*{month}" id="filtro" class="form-select form-select-sm" style="margin: 0">
                                <option value="all">Selecione</option>
                                <option value="janeiro">Janeiro</option>
                                <option value="fevereiro">Fevereiro</option>
                                <option value="março">Março</option>
                                <option value="abril">Abril</option>
                                <option value="maio">Maio</option>
                                <option value="junho">Junho</option>
                                <option value="julho">Julho</option>
                                <option value="agosto">Agosto</option>
                                <option value="setembro">Setembro</option>
                                <option value="outubro">Outubro</option>
                                <option value="novembro">Novembro</option>
                                <option value="dezembro">Dezembro</option>
                            </select>
                        </div>
                        <div class="col" style="margin: 0">
                            <button class="btn btn-outline-secondary btn-sm" type="submit">Filtar</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Título</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                        <th scope="col">Mês Corrente</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody th:each="financialRecord : ${financialRecords}">
                    <tr>
                        <th scope="row" th:text="${financialRecord.id}"></th>
                        <td th:text="${financialRecord.transactionType}"></td>
                        <td th:text="${financialRecord.title}"></td>
                        <td th:text="${financialRecord.amount}"></td>
                        <td th:text="${financialRecord.date}"></td>
                        <td th:text="${financialRecord.currentMonth}"></td>
                        <td th:text="${financialRecord.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>