<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head('Extrato')}"></head>
    <body>
        <div th:replace="~{base :: header}"></div>
        <div class="container">
            <div th:replace="~{base :: titulo('Extrato')}"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Título</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                        <th scope="col">Mês Corrente</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody th:each="financialRecord : ${financialRecords}">
                    <tr>
                        <th scope="row" th:text="${financialRecord.id}"></th>
                        <td th:text="${financialRecord.transactionType}"></td>
                        <td th:text="${financialRecord.title}"></td>
                        <td th:text="${financialRecord.amount}"></td>
                        <td th:text="${financialRecord.date}"></td>
                        <td th:text="${financialRecord.currentMonth}"></td>
                        <td th:text="${financialRecord.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>